// ==============================
// Header
// ==============================

.header {
  @include clearfix; 
  padding: $header-padding;

  @import '_header/logo';
  @import '_header/menu';
}


@include max-screen() {
  .header {
    padding: 50px 0 0;
    text-align: center;
  }
}

.xxx {
  top: 0px;
  position: fixed;
  z-index: 2;
  height: 2px;
  width: 100%;
  background-color: #fefefe;
}
.xx2 {
  width: 0%;
  background-color: $theme-color;
}